.amenities {
    width: 100%;
    padding: 72px 0;
    background-color: rgba(2, 59, 76, 1);
}

.eyebrowRow {
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 0 68px 31px 65px;
}

.eyebrow {
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 0px;
    text-transform: uppercase;
    color: rgba(205, 195, 146, 1);
}

.eyebrowLine {
    width: 93px;
    height: 0px;
    border-top: 1px solid rgba(205, 195, 146, 1);
}

.title {
    letter-spacing: -.8px;
    color: #fff;
    margin: 0 65px 48px;
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 48px;
    font-weight: 500;
    line-height: 59px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 56px;
    padding: 61px 80px 64px 80px;
    border-radius: 12px;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 8px;
    padding-bottom: 28px;
    position: relative;
}

.icon {
    width: 55px;
    height: 50px;
    margin-bottom: 7px;
}

.itemTitle {
    margin: 0;
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 500;
    font-size: 28px;
    line-height: 32px;
    letter-spacing: -0.4px;
    color: rgba(219, 215, 191, 1);
}

.itemDescription {
    margin: 0;
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: center;
    margin-top: 3px;
    color: rgba(219, 215, 191, 1);
}

.item::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%; 
    max-width: 403px;
    height: 1px;
    background-color: rgba(219, 215, 191, 1);
}


@media (max-width: 1024px) {
    .eyebrowRow,
    .title {
        margin-left: 40px;
        margin-right: 40px;
    }

    .grid {
        grid-template-columns: repeat(2, 1fr);
        padding: 40px 40px 48px 40px;
        gap: 40px;
    }

    .title {
        font-size: 32px;
        line-height: 40px;
    }

    .item::after {
        max-width: 80%; 
    }
}

@media (max-width: 768px) {
    .amenities {
        padding: 40px 0;
    }

    .eyebrowRow {
        margin-left: 20px;
        margin-right: 20px;
            margin: 0 68px 11px 21px;
    }


    .title{ margin-left: 20px;
        margin-right: 20px;}

    .eyebrowLine {
        display: none;
    }

    .title {
      margin-bottom: 5px;
        font-size: 16px;
        line-height: 34px;
    }
    

    .grid {
        grid-template-columns: 1fr;
        padding: 24px 20px 0px 20px;
        gap: 28px;
    }

    .item {
        min-width: 0; 
    }

    .item::after {
        width: 100%;
        max-width: 260px;
    }

    .itemTitle{font-size: 20px;}
    .itemDescription{font-size: 16px;}
    .eyebrow{font-size: 18px;}
}
